<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Bx.HtmlMinifier.Enabled" value="true" />
      <setting name="Bx.HtmlMinifier.RemoveWhitespaces" value="true" />
      <setting name="Bx.HtmlMinifier.RemoveLineBreaks" value="true" />
      <setting name="Bx.HtmlMinifier.IgnoredUrls" value="/sitecore" />
    </settings>
  </sitecore>
</configuration>
